<h1 class = "title">Forgot Your Password</h1>
<div class="divisor"></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me", class: 'btn-submit' %>
  </div>
  <div class="field">
    <%= render "devise/shared/links" %>
  </div>  
<% end %>

