<h1>New Post</h1>
<div class="divisor"></div>

<%= form_for :post, url: posts_path do |f|%>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <div class="form-group">
        <%= f.submit "Submit Post", class: "btn-submit" %>
    </div>
<% end %>