<h1 class = "title">
    <%= @post.title %>
</h1>
<div class="divisor"></div>

<p class = "date">
    Submited <%= time_ago_in_words(@post.created_at) %> Ago
    | <%= link_to "Edit", edit_post_path(@post) %>
    | <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<p class="body">
    <%= @post.body %>
</p>

<div id="comments">
    <h2><span><%= @post.comments.count %></span> Comments</h2>
    <%= render @post.comments %>

    <h3>Add Comments</h3>
    <%= render "comments/form" %>
</div>