<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section id = "home">
    <div class="sidebar">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </div>
      <ul>
        <li>
          <i class="fa fa-book"></i> 
          <%= link_to 'Blog', root_path %>
        </li>
        <li>
          <i class="fa fa-file"></i> 
          <%= link_to 'About', about_path %>
        </li>
        <% if !user_signed_in? %>
        <li>
          <i class="fa fa-user"></i> 
          <%= link_to 'Sign in', user_session_path %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="content">   
      <nav>
        <div class="title">
        <% if current_page?(root_path) %>
          All Posts
        <% elsif current_page?(about_path) %>
          About
        <% else %>
          <%= link_to 'Back to Home', root_path%>
        <% end %>
        </div>
        <% if user_signed_in? %>
          <ul class="button-list">
            <li class = "hide-mobile"><%= link_to 'Novo Post', new_post_path %></li>
            <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
          </ul>
        <% end %>
      </nav>
      <div class="container">
        <%= yield %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg , class: "alert") %>
      <% end %>
    </div>
  </section>
  </body>
</html>
